body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    background-image: url('wp.jpg');
    color: antiquewhite;
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
    color: beige
    text-align: center;
    padding: 20px;
}
main{
    padding: 20px;
}
footer{
    background-color: aqua;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}